html {
	font-family: Arial;
	font-size: 15px;
	color: floralwhite;
}

body {
	background-color:  #333333;
}

h1 {
	font-size: 3rem;
	color: steelblue;
	text-align: center;
}

h2 {
	font-size: 3rem;
	color: rgb(107, 140, 189);
}
p	{
	color:azure
}

img {
	display: block;
	margin: 0 auto;
  }

.adam-sewell-container {
    display: flex;
    justify-content: center;
}

.adam-sewell {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
}

.adam-sewell a {
    text-decoration: none;
}

.adam-sewell-github-container {
    width: 100%;
    text-align: center;

}
.adam-sewell-github {
    color: black;
}
