html {
	font-family: Arial;
	font-size: 15px;
	color: floralwhite;
}

body {
	background-color:  #333333;
}

h1 {
	font-size: 3rem;
	color: steelblue;
	text-align: center;
}

h2 {
	font-size: 3rem;
	color: royalblue;
}
p	{
	color:azure
}

img {
	display: block;
	margin: 0 auto;
  }